<div class="filters-container">
  <div class="filter-group">
    <h3>კატეგორია</h3>
    <div *ngIf="Object.keys(selectedCategories).length > 0; else loading">
      <label *ngFor="let category of Object.keys(selectedCategories)">
        <input
          type="checkbox"
          [(ngModel)]="selectedCategories[category]"
          (change)="loadProducts()"
        />
        {{ category }}
      </label>
    </div>
    <ng-template #loading>
      <p>კატეგორიების ჩატვირთვა...</p>
    </ng-template>
  </div>

  <div class="filter-group">
    <h3>ფასი</h3>
    <div class="price-range">
      <label>მინიმალური ფასი:</label>
      <input
        type="number"
        [(ngModel)]="minPrice"
        (input)="loadProducts()"
        class="price-input"
        min="0"
      />
    </div>
    <div class="price-range">
      <label>მაქსიმალური ფასი:</label>
      <input
        type="number"
        [(ngModel)]="maxPrice"
        (input)="loadProducts()"
        class="price-input"
        min="0"
      />
    </div>
  </div>

  <div class="filter-group">
    <h3>დამატებითი ფილტრები</h3>
    <label>
      <input type="checkbox" [(ngModel)]="vegeterian" (change)="loadProducts()" />
      ვეგეტერიანული
    </label>
    <label>
      <input type="checkbox" [(ngModel)]="nuts" (change)="loadProducts()" />
      ნიგოზი
    </label>
  </div>

 
