<div class="filters-container">
  <div class="filter-group">
    <h3>კატეგორია</h3>
    <div *ngFor="let category of categories">
      <label>
        <input
          type="checkbox"
          [checked]="selectedCategoryIds.has(category.id)"
          (change)="toggleCategory(category.id)"
        />
        {{ category.name }}
      </label>
    </div>
  </div>

  <div class="filter-group">
    <h3>ფასი</h3>
    <div class="price-range">
      <label>მინიმალური ფასი:</label>
      <input
        type="number"
        [(ngModel)]="minPrice"
        (input)="loadProducts()"
        class="price-input"
        min="0"
      />
    </div>
    <div class="price-range">
      <label>მაქსიმალური ფასი:</label>
      <input
        type="number"
        [(ngModel)]="maxPrice"
        (input)="loadProducts()"
        class="price-input"
        min="0"
      />
    </div>
  </div>

  <!-- <div class="filter-group">
    <h3>დამატებითი ფილტრები</h3>
    <label>
      <input type="checkbox" [(ngModel)]="vegeterian" (change)="loadProducts()" />
      ვეგეტარიანული
    </label>
    <label>
      <input type="checkbox" [(ngModel)]="nuts" (change)="loadProducts()" />
      ნიგოზი
    </label>
  </div>

  <div class="filter-group">
    <h3>სიცხარე</h3>
    <label for="spiciness">სიცხარე (0-5): {{ spiciness }}</label>
    <input
      type="range"
      id="spiciness"
      min="0"
      max="5"
      [(ngModel)]="spiciness"
      (change)="loadProducts()"
      style="width: 100%;"
    />
  </div>
</div> -->
