.home-container {
  text-align: center;
  margin: 20px;
}

h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); /* Grid layout for responsiveness */
  gap: 20px;
  justify-items: center;
  margin-top: 20px;
}

.product-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 220px; /* Ensure that card size is controlled */
  width: 100%; /* Make sure card adapts to the width */
  height: 350px; /* Control height */
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.product-name {
  font-size: 1.2rem;
  margin: 10px 0;
  color: #333;
}

.product-price {
  font-size: 1rem;
  color: #888;
  margin-bottom: 15px;
}

.add-to-cart-btn {
  background-color: #28a745;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.add-to-cart-btn:hover {
  background-color: #218838;
}
