<div *ngIf="cartItems.length === 0">კალათა ცარიელია</div>

<div *ngFor="let item of cartItems; let i = index" class="cart-item">
  <img [src]="item.product.image" alt="{{ item.name }}" class="cart-item-image" />
  <div class="cart-item-details">
    <p class="cart-item-name">{{ item.name }}</p>
    <p class="cart-item-price">{{ item.price }} ₾</p>
    <p class="cart-item-quantity">რაოდენობა: {{ item.quantity }}</p>
    <button (click)="removeItem(i)" class="remove-item-btn">წაშლა</button>
  </div>
</div>
